$notePad-color: #FEDF14;
$notePad-line: #95ACD4;
@import url('http://fonts.googleapis.com/css?family=Lobster');

html, body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
}

body {
  padding: 50px;
  font-family: 'Lobster', cursive;
  text-align: -webkit-center;
}

#container {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  width: 50vh;
=======
  width: 75vh;
>>>>>>> 8e280f766065fb59cca861f0b67e24efe68d8bec
  height: 75vh;
  padding: 18px 20px;
  background: repeating-linear-gradient($notePad-color, $notePad-color 31px, $notePad-line 31px, $notePad-line 32px);
  border-radius: 20px;
  border-top: 4px solid black;
  border-right: 4px solid black;
}

.notePad {
  width: 100%;
}
